{
  "whitelist": [
    "es6.arrowFunctions",
    "es6.destructuring",
    "es6.modules",
    "es6.parameters",
    "es6.properties.computed",
    "es6.spread",
    "es6.tailCall",
    "es7.objectRestSpread",
    "strict"
  ]
}
