{
  "presets": [
    "es2015-node"
  ],
  "plugins": [
    "transform-es2015-parameters",
    "transform-es2015-destructuring",
    "transform-object-rest-spread",
    "transform-async-to-generator"
  ]
}
