* {
  text-align: center;
}

body {
  font-family: 'Lato', sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 20px;
  color: #FDFCFB;
  background: #F8A434;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 700px;
}


.header {
  margin-bottom: 50px;
}

.header h1 {
  font-size: 45px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.header span {
  font-size: 18px;
  font-weight: 300;
}


.input {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 15px;
}

.input span {
  margin-top: 5px;
  opacity: 0;
  transition: opacity 150ms;
}

input:focus + span {
  opacity: 1;
}

.input span strong {
  font-weight: 800;
  color: #e74c3c;
}

input {
  padding: 0 10px;
  width: 100%;
  height: 44px;
  border: none;
  font-size: 15px;
  background: #FDFCFB;
  font-family: inherit;
  color: #3a3a3a;
  letter-spacing: 1px;
  border-radius: 5px 5px 5px 5px;

  transition: outline 150ms, box-shadow 150ms;
}

input:focus {
  outline: 2px solid #e74c3c;
  box-shadow: 0 0 2px #e74c3c;
}


#url {
  background: #c50a43;
  font-size: 15px;
}

#url:valid {
  font-size: 10px;
  color: white;
}

#url::-webkit-input-placeholder {
  color: white;
  font-size: 15px;
}
#url:-moz-placeholder {
  color: white;
  font-size: 15px;
}
#url::-moz-placeholder {
  color: white;
  font-size: 15px;
}
#url:-ms-input-placeholder {
  color: white;
  font-size: 15px;
}


.footer {
  padding-top: 25px;
}

.footer p {
  margin-bottom: 4px;
}

a {
  color: inherit;
}
